body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ADD8E6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #FFC0CB;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 20px;
}

.display {
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    border: none;
    outline: none;
    background-color: #ffff00;
    border-radius: 4px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: ;
    outline: none;
    background-color: #CBC3E3;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

button:active {
    background-color: #0056b3;
}

.equals {
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}
